/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/CustomButton/customButton.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.035em;
}
.custom-button.primary {
  background-color: #4E75FF;
  color: white;
  box-shadow: 0px 0px 0px 1px #4665D2, 0px 1px 2px 0px rgba(57, 89, 204, 0.5019607843);
  border: 1px solid transparent;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  padding: 6px 14px;
}
.custom-button.primary:hover {
  background-color: white;
  color: #4E75FF;
}
.custom-button.secondary {
  background-color: white;
  color: #36394A;
  box-shadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.0784313725), 0px 1px 2px 0px rgba(164, 172, 185, 0.2392156863);
}
.custom-button.secondary:hover {
  background-color: #36394A;
  color: white;
}
.custom-button.danger {
  background-color: #ff4d4f;
  color: white;
}
.custom-button.danger:hover {
  background-color: #cc0000;
}
.custom-button.btn-link {
  background-color: rgba(92, 128, 253, 0.0784313725);
  color: #5C80FD;
  display: flex;
  gap: 8px;
}
.custom-button.btn-link:hover, .custom-button.btn-link.active {
  background-color: #5C80FD;
  color: #FFFFFF;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/CustomSelect/customSelect.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.custom-select {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.custom-select__header {
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #6E7076;
  gap: 6px;
}

.custom-select__arrow {
  transition: transform 0.3s;
}

.custom-select__arrow.open {
  transform: rotate(-180deg);
}

.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #6E7076;
}

.custom-select__option {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #6E7076;
}
.custom-select__option:hover {
  background-color: #f0f0f0;
}

.arrow_btn {
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  outline: none;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/CustomSwitch/customSwitch.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.online-sellers-switch {
  display: flex;
  align-items: center;
  gap: 8.5px;
  border: 1px solid #E8EBF0;
  padding: 8px 12px;
  border-radius: 8px;
  height: 36px;
}
.online-sellers-switch .label {
  color: #36394A;
  font-size: 14px;
  line-height: 20px;
}
.online-sellers-switch .switch {
  width: 28px;
  height: 16px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}
.online-sellers-switch .switch.switch-on {
  background-color: #5C80FD;
}
.online-sellers-switch .switch .handle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  transition: left 0.2s;
}
.online-sellers-switch .switch .handle.handle-on {
  left: 12px;
}
.online-sellers-switch .switch .handle.handle-off {
  left: 1px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/home/SeoContent/seoContext.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.seoImage {
  position: absolute;
  right: 0;
  top: 0;
}

.seo-sontent {
  max-width: 680px;
  width: 100%;
}

.seo-title {
  color: var(--title-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.seo-description {
  color: var(--color);
  font-size: 16px;
  line-height: 24px;
}

.main_category {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 680px;
  width: 100%;
}

.btn-link span {
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
}

.btn-link:hover, .btn-link.active {
  background-color: #5C80FD;
  color: #FFFFFF;
}

.seo-sontent-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 1px solid #E8EBF0;
  padding-bottom: 24px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/home/FilterContent/filterContent.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.filter-container-btns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 16px;
}

.showcase-filters-container {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  gap: 8px 4px;
  align-items: center;
}

.custom-select {
  border: 1px solid #E8EBF0;
  padding: 8px 12px;
  border-radius: 8px;
}

.custom-select__header {
  font-size: 14px;
  line-height: 20px;
  color: #36394A;
}

.search-input-container {
  max-width: 317px;
  width: 100%;
}

.custom-button {
  padding: 8px 16px;
}

.btn-link:hover, .btn-link.active {
  background-color: #5C80FD;
  color: #FFFFFF;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/SearchInput/searchInput.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-input-container .search-input {
  padding-left: 39px;
}
.search-input-container.right .search-input {
  padding-left: 12px;
}
.search-input-container.right .search-button {
  right: 13px;
  left: auto;
}
.search-input-container.left .search-input {
  padding-left: 39px;
}
.search-input-container.left .search-button {
  left: 10px;
  right: auto;
}

.search-input {
  width: 384px;
  height: 32px;
  padding: 6px 0;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 1px rgba(17, 38, 66, 0.0784313725), 0px 1px 2px 0px rgba(153, 161, 176, 0.1607843137);
  color: #9e9da4;
  border: 1px solid rgba(232, 235, 240, 0);
  font-size: 14px;
  outline: none;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}
.search-input::placeholder {
  color: #9e9da4;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}

.search-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 16px;
  height: 16px;
  margin: 0;
  bottom: 8px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/home/TableData/tableData.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tableData-container {
  display: table;
  width: 100%;
  padding: 24px 0;
}

.table-header {
  height: 32px;
}

.table-header, .table-row {
  display: table-row;
}

.table-header div {
  display: table-cell;
  color: #6E7076;
  font-size: 14px;
  line-height: 20px;
}

.table-td {
  display: table-cell;
  word-wrap: break-word;
  word-break: break-word;
  vertical-align: middle;
  height: 67px;
  border-bottom: 1px solid #E8EBF0;
}

.table-desc.table-td, .table-desc.table-td span {
  width: 616px;
}

.table-row:hover {
  background-color: #E8EBF0;
  cursor: pointer;
}

.table-user {
  display: flex;
  padding-left: 24px;
  align-items: center;
}

.user-content {
  display: flex;
  gap: 8px;
}

.table-desc span {
  font-size: 16px;
  line-height: 24px;
  color: #36394A;
}

.user-info > div {
  display: flex;
  gap: 4px;
}

.user-info > div h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.rateing-block {
  padding: 2px 4px;
  border-radius: 6px;
  display: flex;
  gap: 2px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
}

.rateing-block svg {
  height: 12px;
}

.rateing-block span {
  width: 19px;
  height: 16px;
  display: inline-block;
  text-align: center;
}

.user-info p {
  color: #6E7076;
  font-size: 12px;
  line-height: 18px;
}

.user-img-content {
  position: relative;
  align-self: flex-start;
}

.user-online {
  display: block;
  width: 16px;
  height: 16px;
  background: #1DB462;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  bottom: 0;
  z-index: 10;
}
.user-offline {
  display: block;
  width: 16px;
  height: 16px;
  background: #9E9DA4;
  border: 3px solid white;
  border-radius: 50%;
  content: "";
  position: absolute;
  right: -7px;
  bottom: 0;
  z-index: 10;
}

.table-stock span, .more_suggestion {
  font-size: 16px;
  line-height: 24px;
  color: #36394A;
}

.more_suggestion {
  width: 100%;
}

.table-content {
  margin-bottom: 40px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/home/RobuxBlock/style.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.rebux-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rebux-container p, .rebux-container li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #808287;
  letter-spacing: 0.01em;
}

.rebux-container ul, .rebux-container ol {
  list-style-position: inside;
  padding-left: 10px;
}

.rebux-container h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #6E7076;
}

.rebux-container ul {
  list-style: none;
}

.rebux-container li {
  position: relative;
  padding-left: 12px;
}
.rebux-container li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #6E7076;
  border-radius: 50%;
}
